[project]
	description = Code beautifier
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jakub Schmidtke (sjakub)
[access "refs/for/refs/*"]
	read = group user/Jakub Schmidtke (sjakub)
	push = group user/Jakub Schmidtke (sjakub)
	label-Code-Review = -2..+2 group user/Jakub Schmidtke (sjakub)
	label-Verified = -1..+1 group user/Jakub Schmidtke (sjakub)
	rebase = group user/Jakub Schmidtke (sjakub)
	removeReviewer = group user/Jakub Schmidtke (sjakub)
	submit = group user/Jakub Schmidtke (sjakub)
[access "refs/heads/*"]
	read = group user/Jakub Schmidtke (sjakub)
	create = group user/Jakub Schmidtke (sjakub)
	push = +force group user/Jakub Schmidtke (sjakub)
	pushMerge = group user/Jakub Schmidtke (sjakub)
[access "refs/tags/*"]
	push = group user/Jakub Schmidtke (sjakub)
	push = +force group user/Jakub Schmidtke (sjakub)
